/* global styling */

@font-face {
    font-family: 'lato';
    src: url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}

:root.light {
    --theme-color: rgb(45, 175, 132);
    --background-color: rgba(161, 161, 161, 0.26);
    --dark-light: rgb(255, 255, 255);
    --text: black;
    --invert: invert(0%);
}

:root.dark {
    --theme-color: rgb(45, 175, 132);
    --background-color: #181818;
    --dark-light: #404040;
    --text: white;
    --invert: invert(100%);
}

* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.svg:not(.night-mode) {
    width: 25px;
    filter: var(--invert);
    -webkit-transition: filter 1000ms linear;
    -ms-transition: filter 1000ms linear;
    transition: filter 1000ms linear;
}

.container {
    display: grid;
    grid-template-columns: 225px 1fr;
    grid-template-rows: 175px 1fr;
	height: 100vh;
}

.sidebar {
    grid-row: 1/-1;
}


/* header styling */

.header {
    display: grid;
    grid-template-columns: 1fr 400px;
    justify-items: center;
    align-items: center;
    box-shadow: 0 10px 10px var(--background-color);
    background-color: var(--dark-light);
    color: var(--text);
    user-select: none;

    -webkit-transition: background-color 1000ms linear, box-shadow 1000ms linear;
    -ms-transition: background-color 1000ms linear, box-shadow 1000ms linear;
    transition: background-color 1000ms linear, box-shadow 1000ms linear;
}

.profile-pic {
    width: 50px;
    border-radius: 50%;
}

.night-mode.active { /*sets moon svg to white when in dark mode*/
    stroke: white;
    fill: white;
    color: white;
}

.profile-pic-large {
    width: 75px;
    border-radius: 50%;
}

.search {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 80%;
}

.search input {
    flex: 1;
    border-radius: 2rem;
    border: none;
    background-color: var(--background-color);
    height: 2rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: var(--text);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.search input:focus {
    outline: none;
}

.header .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.opening-message {
    width: 75%;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;
    justify-content: baseline;
    align-items: center;
}

.opening-message img {
    grid-row: span 2;
    align-self: center;
}

.opening-message .current-user {
    font-weight: bold;
    font-size: 1.3rem;
}

.options button {
    background-color: var(--theme-color);
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 50px;
    color: white;

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}


/* sidebar styling */

.sidebar {
    background-color: var(--theme-color);
    display: grid;
    grid-auto-rows: max-content;
    gap: 20px;
    justify-items: start;
    align-items: center;
    color: white;

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.sidebar > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .title ~ div:hover, .sidebar .title ~ div:focus {
    transform: translateX(0.25rem);
}

.sidebar .title ~ div {
    padding-left: 20px;
    gap: 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.sidebar .title {
	padding-top: 10px;
    font-size: 1.5rem;
    justify-self: center;
}

.title img.main {
    width: 50px;
}

.sidebar .svg {
    filter: invert(100%);
}


/* body styling */

.body {
    background-color: var(--background-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 300px;
    grid-template-rows: repeat(2,min-content);
    gap: 20px;
    color: var(--text);

    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.body .projects {
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    gap: 20px;
}

.body .legend {
    grid-column: 1/-1;
    font-weight: bold;
    font-size: 1.3rem;
}

.card {
    text-decoration: none;
    color: var(--text);
    padding: 10px;
    border-left: var(--theme-color) 10px solid;
    border-radius: 10px;
    background-color: var(--dark-light);
    box-shadow: 5px 5px 5px var(--background-color);
    display: grid;

    -webkit-transition: background-color 1000ms linear, box-shadow 1000ms linear;
    -ms-transition: background-color 1000ms linear, box-shadow 1000ms linear;
    transition: background-color 1000ms linear, box-shadow 1000ms linear;
}

.projects .card:hover {
    transform: translateY(-0.25rem);
}

.projects .card .title {
    font-weight: bold;
    font-size: 1.3rem;
}

.projects .card .options {
    justify-self: end;
    margin: 5px;
    display: flex;
    gap: 20px;
}

.announcements, .trending {
	display: grid;
	gap: 10px;
	height: min-content;
}

.tile {
	background-color: var(--dark-light);
	padding: 10px;
	box-shadow: 5px 5px 5px var(--background-color);
	border-radius: 10px;
	border-top: 1px var(--background-color) solid;

    -webkit-transition: background-color 1000ms linear, box-shadow 1000ms linear;
    -ms-transition: background-color 1000ms linear, box-shadow 1000ms linear;
    transition: background-color 1000ms linear, box-shadow 1000ms linear;
}

.tile:hover {
    transform: translateY(-0.25rem);
}

.trending .tile {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content min-content;
	gap: 5px;
}

.trending .tile img {
	grid-row: 1/-1;
}

.tile .text {
	font-size: 0.95rem;
}

.tile .title {
	font-weight: bold;
}